* {
    box-sizing: inherit;
}

html {
  background-color: #272822;
  box-sizing: border-box;
  color: #fff;
  font-family: sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

canvas {
  height: 100vh;
  width: 100vw;
}
