* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    overflow: hidden;
    background: black;
}

body {
    margin: 0;
}

form {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    padding: 1em;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2;
}

fieldset {
    margin-bottom: 1em;
    border: 0;
}

legend {
    font-weight: bold;
    margin: 0 0 1em;
    padding: 0;
}

label {
    display: block;
}

input {
    display: block;
    margin-bottom: 1em;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    max-height: 100vh;
    max-width: 100vw;
}
