<!DOCTYPE html>
<html lang="en" dir="ltr" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title> Alphamap </title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body ng-controller="ViewController as vm">
        <form ng-submit="vm.refresh()">
            <fieldset>
                <legend>Base</legend>
                <label>
                    <span>Red</span>
                    <input type="range" min="0" max="255" ng-model="vm.baseColor[0]">
                </label>
                <label>
                    <span>Green</span>
                    <input type="range" min="0" max="255" ng-model="vm.baseColor[1]">
                </label>
                <label>
                    <span>Blue</span>
                    <input type="range" min="0" max="255" ng-model="vm.baseColor[2]">
                </label>
            </fieldset>
            <fieldset>
                <legend>Variation</legend>
                <label>
                    <span>Red</span>
                    <input type="range" min="0" max="255" value="16" ng-model="vm.variation[0]">
                </label>
                <label>
                    <span>Green</span>
                    <input type="range" min="0" max="255" value="16" ng-model="vm.variation[1]">
                </label>
                <label>
                    <span>Blue</span>
                    <input type="range" min="0" max="255" value="16" ng-model="vm.variation[2]">
                </label>
            </fieldset>
            <input type="submit" value="Generate">
        </form>
        <canvas ng-model="vm.canvas"></canvas>
        <script src="js/angular.min.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>
